*{
	padding: 0px;
	margin: 0px;
} 

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1, h2, h3, h4, h5 ,h6{
	font-family: 'Source Sans Pro', sans-serif;

}


a, a:hover{
	text-decoration: none;
}


/*header start*/

.header-section{
	width: 100%;
}

.top-header{
	width: 100%;
	padding: 10px 0px;
	background: #f5f7fa;
}

.top-header .info-inner{
	display: block;
	margin: 0px;
}

.top-header .info-inner li{
	list-style: none;
	display: inline-block;
}


.top-header .info-inner li a{
	font-size: 14px;
	color: #506a85;
	font-weight: 500;
	margin-right: 15px;

}

.top-header .info-inner li a:hover{
	text-decoration: none;
}


.top-header .info-inner li a .fa{
	margin-right: 7px;

}


.top-header .social-icons{
	text-align: right;
	display: block;
	margin: 0px;
}

.top-header .social-icons li{
	list-style: none;
	display: inline-block;
}


.top-header .social-icons li a{
	font-size: 14px;
	color: #506a85;
	margin: 0px 0px 0px 17px;

}

.top-header .social-icons .fa-facebook:hover{
	color:  blue;
}

.top-header .social-icons .fa-google-plus:hover{
	color:  red;
}

.top-header .social-icons .fa-twitter:hover{
	color:  purple;
}

.top-header .social-icons .fa-pinterest:hover{
	color:  #00bc9c;
}

.top-header .social-icons .fa-behance:hover{
	color:  #85285d;
}

.top-header .social-icons .fa-dribbble:hover{
	color:  #e86b89;
}




.top-header .social-icons li a .fa{
	
}

.header-section .bg-light{
	padding: 15px 0px;
	background: #fff !important;
}

.header-section .navbar-expand-lg .navbar-nav{
	/*-ms-flex-direction: row;
	flex-direction: row;*/
	margin-left: 15px;


}


.header-section .navbar-light .navbar-nav .nav-link {
	color: #506a85;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px 10px;
}


.header-section .navbar-light .navbar-nav .active>.nav-link{

/*color: #506a85;*/
font-weight: 400;
}

.nav-item .active .nav-link:hover{
	color: #00bc9c;
}


.fa-search:before {
    content: "\f002";
    color: #506a85;
}


.navbar-light .navbar-nav .nav-link:hover{
	color: #00bc9c;
}


.navbar-light .navbar-nav .nav-link:focus{
	color: #00bc9c;
}



.navbar-light .navbar-nav .nav-link:hover {
     color: #00bc9c; 
}




/*header end*/


/*slider start*/

.slider{
	width: 100%;
}

.slider .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.slider .carousel-caption h2{
	font-size: 65px;
	line-height: 74px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;

}

.slider .carousel-caption p{
	color: #a3b1bf;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;

}

.slider .carousel-caption .btn{
	font-size: 14px;
	font-weight: 600;
	padding: 10px 35px;
	text-transform: uppercase;
	border-radius: 2px;
	border: 1px solid #00bc9c;
	background: #00bc9c;
	color: #fff;
	margin-top: 35px;
	transition: 1s;
}

.slider .carousel-caption .btn:focus, .slider .carousel-caption .btn:hover{
	border: 1px solid #00bc9c;
	background: transparent;
	color: #00bc9c;

}





/*slider end*/

/*who we are start*/

.who-we-are{
	width: 100%;
	padding: 80px 0px; 
}

.who-we-are .title{
	width: 100%;
	text-align: center;
}

.who-we-are .title h2{
	font-size: 40px;
	line-height: 74px;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 2px;
	color: #506a85;
	margin-bottom: 20px;

}
.who-we-are .title p{
	color: #a3b1bf;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;

}

.who-we-are .media{
	margin-top: 40px;


}

.who-we-are .media .media-body{
	padding: 0px 12px;
}

.who-we-are .media .media-body h5{
	color: #506a85;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;



}


.who-we-are .media .media-body p{
	color: #a3b1bf;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;


}


/*who we are ends*/



/*
<!-- check out our latest works starts -->-->*/


.works{
	width: 100%;
	padding: 80px 0px;
	background: #f2f5f7;
}


.works .title{
	width: 100%;
	padding: 70px;
	text-align: center;
}


.works .title h2{
	font-size: 40px;
	line-height: 74px;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 2px;
	color: #506a85;
	margin-bottom: 10px;

}
.works .title p{
	color: #a3b1bf;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #a3b1bf;

}

.works .card{
	text-align: center;
	border-radius: 0px;
}

.works .card .card-img-top{
	border-radius: 0px;

}

.works .card .card-body.card-title{
	font-size: 80px;
	font-weight: 500px;
	color: #506a85;

}


.works .card .card-body.card-title{
	font-size: 14px;
	font-weight: 400px;
	color: #a3b1bf;

}


.works .owl-carousel{
	margin-top: 50px;


}


	

 .works .owl-theme .owl-dots .owl-dot.active span, .works .owl-theme .owl-dots .owl-dot:hover span{
 	background: #00bc9c;

 }


.works .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    margin-top: 23px;
}


/*<!-- check out our latest works ends*/



/*get in touch starst*/

.get-in-touch{
	width: 100%;
	padding: 80px 0px;

}

.get-in-touch .title{
	width: 100%;
	padding: 70px;
	text-align: center;
}


.get-in-touch .title h2{
	font-size: 52px;
	line-height: 74px;
	font-weight: 700;
	
	text-align: center;
	letter-spacing: 2px;
	color: #506a85;
	margin-bottom: 10px;

}
.get-in-touch .title p{
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #a3b1bf;
	text-align: center;

}



.btn-info{
	font-size: 14px;
	font-weight: 600;
	padding: 10px 35px;
	
	border-radius: 2px;
	border: 1px solid #00bc9c;
	background: #00bc9c;
	color: #fff;
	margin-top: 35px;
	transition: 1s;
}

.btn-info:hover{
	border: 1px solid #00bc9c;
	background: transparent;
	color: #00bc9c;

}


/*get in touch ends*/

/*footer start*/

.footer-section{
	padding: 80px 0px; 
	background: #2f4052;
	width: 100%;
}

.footer-section .widget{
	width: 100%;

}

.footer-section .widget h4{
	font-size: 18px;
	line-height: 28px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.footer-section .widget p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #92a0ae;
	margin-bottom: 10px 0px; 
}
.footer-section .widget .link{
	color: #92a0ae;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
}

.footer-section .widget .link:hover{
	color: #00bc9c;
	text-decoration: none;
}




.footer-section .widget .link .fa{
	margin-left: 10px;
}


.col-sm-12 .card-group .card{
	border-radius: 0px;
	margin: 3px 3px;
	border: 0px;
}

.footer-section .widget .form-inline .mx-sm-3{
	margin-left: 0px !important;
	

}

.footer-section .widget .form-inline .form-control{
	width: 100%;
	font-size: 14px;
	padding-right: 90px;
	background: #4e5c6c;
	border: 1px solid #4e5c6c;
	border-radius: 2px;
	margin-left: -0px;

}

.footer-section .widget .form-inline .btn-primary{
	color: #fff;
	background-color: #00bc9c;
	border-color: #00bc9c;
	position: absolute;
	right: 7%;
	bottom: 34%;
	padding:3px 5px;
	font-size: 14px;
	font-weight: 700;

}

.footer-section .widget .form-inline .btn-primary .active{
	background: #00bc9c;
}

.footer-section .widget .form-inline .btn-primary:hover{
	border: 1px solid #00bc9c;
	background: transparent;
	color: #00bc9c;
}



/*footer end*/


/*footer2*/


 

 .footer-end{
 	background: #283645;
 	color: #707e8c;
 }


 .footer-end .col-md-6{
 	width: 100%;
 	background: transparent;
 	margin-top: 32px;
 } 

 

 .footer-end .bottom-footer{
 	background: #283645;
 	color:#707e8c;
 }

.footer-end .footer-list{
	width: 100%;
	text-align: right;
	margin-bottom: 25px;
}
.footer-end .footer-list li{
	display: inline-block;
}
 .footer-end .footer-list ul{
 	display: flex;
 	justify-content: space-between;
 	color: #707e8c;
 }

 .footer-end .footer-list ul li a{
 	color: #707e8c;
 	font-size: 14px;
 }

 .footer-end .footer-list li a:hover{
 	color: #00bc9c;
 }

.footer-end .footer-list ul{
	margin-left: 200px;

}




